
ðŸ’¡ **Question 1**
Given three integer arrays arr1, arr2 and arr3 **sorted** in **strictly increasing** order, return a sorted array of **only** the integers that appeared in **all** three arrays.

**Example 1:**

Input: arr1 = [1,2,3,4,5], arr2 = [1,2,5,7,9], arr3 = [1,3,4,5,8]

Output: [1,5]

**Explanation:** Only 1 and 5 appeared in the three arrays.

In [1]:
arr1 = [1,2,3,4,5] 
arr2 = [1,2,5,7,9] 
arr3 = [1,3,4,5,8]

In [7]:
nums1 = set(arr1)
nums2 = set(arr2)
nums3 = set(arr3)

In [9]:
result = []
for _,value in enumerate(arr1):
    if value in nums1 and value in nums2 and value in nums3:
        result.append(value)

In [10]:
result

[1, 5]


ðŸ’¡ **Question 2**

Given two **0-indexed** integer arrays nums1 and nums2, return *a list* answer *of size* 2 *where:*

- answer[0] *is a list of all **distinct** integers in* nums1 *which are **not** present in* nums2*.*
- answer[1] *is a list of all **distinct** integers in* nums2 *which are **not** present in* nums1.

**Note** that the integers in the lists may be returned in **any** order.

**Example 1:**

**Input:** nums1 = [1,2,3], nums2 = [2,4,6]

**Output:** [[1,3],[4,6]]

**Explanation:**

For nums1, nums1[1] = 2 is present at index 0 of nums2, whereas nums1[0] = 1 and nums1[2] = 3 are not present in nums2. Therefore, answer[0] = [1,3].

For nums2, nums2[0] = 2 is present at index 1 of nums1, whereas nums2[1] = 4 and nums2[2] = 6 are not present in nums2. Therefore, answer[1] = [4,6].

In [12]:
nums1 = [1,2,3] 
nums2 = [2,4,6]

In [17]:
answer = [[],[]]

In [18]:
arr1 = set(nums1)
arr2 = set(nums2)

In [19]:
for i,j in zip(nums1,nums2):
    if i not in arr2:
        answer[0].append(i)
    if j not in arr1:
        answer[1].append(j)

In [20]:
answer

[[1, 3], [4, 6]]


ðŸ’¡ **Question 3**
Given a 2D integer array matrix, return *the **transpose** of* matrix.

The **transpose** of a matrix is the matrix flipped over its main diagonal, switching the matrix's row and column indices.

**Example 1:**

Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]

Output: [[1,4,7],[2,5,8],[3,6,9]]

In [21]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [27]:
result = [[0,0,0],[0,0,0],[0,0,0]]

In [28]:
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        result[j][i] = matrix[i][j]

In [29]:
result

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

ðŸ’¡ **Question 4**
Given an integer array nums of 2n integers, group these integers into n pairs (a1, b1), (a2, b2), ..., (an, bn) such that the sum of min(ai, bi) for all i is **maximized**. Return *the maximized sum*.

**Example 1:**

Input: nums = [1,4,3,2]

Output: 4

**Explanation:** All possible pairings (ignoring the ordering of elements) are:

1. (1, 4), (2, 3) -> min(1, 4) + min(2, 3) = 1 + 2 = 3

2. (1, 3), (2, 4) -> min(1, 3) + min(2, 4) = 1 + 2 = 3

3. (1, 2), (3, 4) -> min(1, 2) + min(3, 4) = 1 + 3 = 4

So the maximum possible sum is 4

In [30]:
nums = [1,4,3,2]

In [32]:
nums.sort()

In [33]:
nums

[1, 2, 3, 4]

In [36]:
result = min(nums[0], nums[1]) + min(nums[2], nums[3])

In [37]:
result

4

ðŸ’¡ **Question 5**
You have n coins and you want to build a staircase with these coins. The staircase consists of k rows where the ith row has exactly i coins. The last row of the staircase **may be** incomplete.

Given the integer n, return *the number of **complete rows** of the staircase you will build*.

**Example 1:**

**Input:** n = 5

**Output:** 2

**Explanation:** Because the 3rd row is incomplete, we return 2.

In [49]:
n = 5 
count = -1 
for i in range(n+1): 
    if i < n : 
        n -= i
        count += 1

In [50]:
count

2


ðŸ’¡ **Question 6**
Given an integer array nums sorted in **non-decreasing** order, return *an array of **the squares of each number** sorted in non-decreasing order*.

**Example 1:**

Input: nums = [-4,-1,0,3,10]

Output: [0,1,9,16,100]

**Explanation:** After squaring, the array becomes [16,1,0,9,100].
After sorting, it becomes [0,1,9,16,100]

</aside>

In [51]:
nums = [-4,-1,0,3,10]
result = []

In [52]:
for _,value in enumerate(nums):
    result.append(value**2)
result.sort()
print(result)

[0, 1, 9, 16, 100]

 **Question 8**

Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

*Return the array in the form* [x1,y1,x2,y2,...,xn,yn].

**Example 1:**

**Input:** nums = [2,5,1,3,4,7], n = 3

**Output:** [2,3,5,4,1,7]

**Explanation:** Since x1=2, x2=5, x3=1, y1=3, y2=4, y3=7 then the answer is [2,3,5,4,1,7].

</aside>

In [53]:
nums = [2,5,1,3,4,7]
n = 3

In [54]:
j = n

In [56]:
result = []
for i in range(n):
    result.append(nums[i])
    result.append(nums[j])
    j += 1

In [57]:
result

[2, 1, 5, 3, 1, 4]